
.arrow-left {
    padding-top: 8px;
    cursor: pointer;
}

.new-img{
    height: 200px;
}
.new-img img{
    width: 100%;
    height: 200px;
  
}
.toggleTop {
    margin-top: 16px;
    display: flex;
    gap: 16px;
    color: white;
    align-items: center;
}
.sec-fan-1 {
    margin-top: 8px;
    display: flex;
    gap: 16px;
}

.sec-fan-fantasy {
    width: 48%;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    background: var(--background-bg-02, #323232);
    cursor: pointer;
}
