.player-details-container{
    background: var(--secondary-bg-color)
}

.player-circle {
    /* width: 700px; */
    /* height: 0px; */
    background: linear-gradient(90deg, #2B5876 0%, #4E4376 100%);
    width:100% ;
    
}
.player-details-arrow{
  display: none;

}
.player-circle-img{
    width: 50%;
    margin: 0 auto;
}
.player-details-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.player-img {
width: 200px;
height: 200px;
margin-top: 3.1rem;
display: block;
border-top-left-radius: .5rem;
border-top-right-radius: .5rem;

   
}
.player-content h1{
    font-size: 4rem;
    color: var(--head-text-color);
}
.p-inform{
    display: flex;
    gap: .5rem;
    align-items: center;
    margin-left: 1rem;
    margin-top: 1rem;
}
.p-country{
    color: var(--head-text-color);
    font-size: 1.5rem;
}


.fill-player {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--tab-color);
}
.recent-card-container {
    display: flex;
    gap: 1rem;
 
}

.recent-card-body {
    border-radius: 4px;
    border-bottom: var(--tab-color);
    background: var(--primary-bg2);
    padding: 16px 54px 17px 16px;
}

.recent-card-body p {
    color: var(--text-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 16.8px */
}

.score-name {
    color: var(--primary-text-color);
}

.batting-career-name {
    display: flex;
    align-items: center;
    gap: 8px;
color: var(--head-text-color);
}

.batting-style {
    color: var(--text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 21px */
}
.batting-stats-main-card{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
}
.batting-stats-card {
    display: flex;
    /* margin-top: 1rem; */
    /* gap: 1rem; */
    justify-content: space-between;
}

.batting-stats-tab {
    padding: 16px 0 16px 0;
}

.new-tab {
    overflow: auto;
    white-space: nowrap;
}

.batting-stats-tab-card {
    border: 1px solid var(--text-color);
    border-radius: 8px;
    padding: 8px 16px 8px 16px;
    cursor: pointer;
    color: var(--text-color);

}

.active-stats {
    background-color: var(--tab-color);
    color: var(--head-text-color);
    border: 1px solid var(--tab-color);
}

.batting-stats-body {
    display: flex;
    width: 23%;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 1rem;
    align-self: stretch;
    border-radius: 4px;
    cursor: pointer;
    background: var(--background-bg-02, #323232);

}

.batting-stats-body p {
    color: var(--head-text-color);
    border-bottom: 1px solid var(--text-color);
    padding-bottom: 8px;
}

.batting-stats-body span {
    color: var(--text-color);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
}
#mobile{
    margin-top: 1rem;
}
/* <-----------------responsive-------------> */
@media (max-width:768px) {
    .player-circle {
        height: auto;
    }
    .player-details-arrow{
        display: block;
        margin-left: 1rem;
        padding-top: .5rem;
    }
.player-circle-img{
    width: 100%;
    
}
.player-details-body{
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.player-img{
    width: 100px;
    height: 100px;
    margin-top: 0.5rem;
}
.player-content h1{
    font-size: 1.5rem;
    /* margin-top: 2rem; */
}
.p-country{
    font-size: 1rem;
}
.recent-card-container{
    flex-direction: column;
}
.batting-stats-body{
    width: 21%;
}
}

@media (max-width:390px)
{
.player-img {
    width: 80px;
    height: 80px;
    margin-top: 0.5rem;
}
.player-content h1 {
    font-size: 1rem;
}
.batting-stats-body {
    width: 20%;
}
.col-1{
    width: 100% !important;
    border-radius: .5rem !important;
}
.col-1 img {
   
   width: 100% !important;
   height: 200px !important;
   border-radius: 0 !important;
}

.batting-stats-tab-card p{
    font-size: 12px;
}
.batting-stats-body p, span{
    font-size: 12px !important;
}
.mobile-match-flex{
    flex-direction: column;
  
    gap: 0;
}
.p-left{
    font-size: 12px !important;
    padding-left: .5rem;
}
.container-hundred2 {
    padding: 0;
}
#mobile{
    margin-top: .5rem;
}
.average-flex {
   
    padding-left: .5rem;
}
}