.container-player-matches {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.container-hundred-main{
    background-color:var(--primary-bg2);
    border-radius: .25rem;
}

.container-hundred {
    display: flex;
    border-radius: .25rem !important;
    overflow: hidden;
    gap: 4rem;
}   
/* ***************************** */
.container-hundred2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.col-1 {
    display: flex;
    align-items: center;
    gap: 8px;
    /* width: 35%; */
}
.accordion-item.open .accordion-content {
    display: block;
  }
  
.col-1 img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: .25rem;
}



.date-container {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    gap: 8px;
}

.date-container h5 {
    color: var(--head-text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;

    /* 21px */
}

.date-container p {
    color: var(--text-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 8px;
    line-height: 140%;
    /* 16.8px */
}

.container-runs {
    display: flex;
    /* width: 60%; */
}
.average-flex{
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.Average p {
    word-spacing: 10px;
    border: 1px solid var(--secondary-bg-color);
    border-top: none;
    border-bottom: none;
    border-left: none;
    color: var(--text-color);
    font-size: 12px;
    padding: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 16.8px */

}
.Average p span{
    color: #D7A700;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 21px */
}
.acc-icon{
    margin-right: 32px;
    cursor: pointer;
    font-size: 24px;
    color: var(--head-text-color);
}

.score{
    border-collapse: collapse;
}

.Container-score .score-table-1{
    border-radius: 0px;
} 

@media (max-width:768px) {
    .container-hundred{
        flex-direction: column;
        width: 100%;
        gap: 0;
    }
    .container-hundred-main{
        border-radius: 8px;
    }
    .mobile-match-flex{
        display: flex;
        /* align-items: center; */
        gap: 1rem;
    }
   
    .container-hundred2{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        border-top: 1px solid var(--secondary-bg-color);
        border-bottom: 1px solid var(--secondary-bg-color);
        padding-left: 1rem;
    }
    .Container-score .score-table-1{
        margin: 8px 0;
    }

    .average-flex{
        width: 100%;
    }
    .accordion-match{
        padding: .5rem;
    }
    .Average p{
        /* padding: 1rem; */
    }
    .Average p:nth-child(1) {
        padding-left: 0;
    }
    .acc-icon{
        margin-right: 0;
    }
   
}