.otp-container{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    gap: 1rem;
 
}
.resend-otp{
    margin-top: .5rem;
}
.otp-input{
    width: 100%;
}
.otp-input input{
    padding: .5rem;
    background-color: var(--primary-bg2);
    border: 0;
    outline: none;
    font-size: 1rem;
    color: var(--head-text-color);
    border-radius: .25rem;

}
.otp-send{
background-color: var(--tab-color);
border: none;
outline: none;
cursor: pointer;
padding: .5rem;
border-radius: .25rem;
color: var(--head-text-color);
font-size: 1rem;
}
.resend-button{
    border: 0;
    outline: none;
    background-color: transparent;
    color: var(--tab-color);
    border-bottom: 1px solid var(--head-text-color);
    cursor: pointer;
    font-size: 1rem;
}